recursive-include modules *
recursive-include correlations *
recursive-include spiderfoot *
include sf.py sfcli.py sfapi.py sflib.py sfscan.py sfwebui.py sfworkflow.py test_version.py update_version.py version_check_hook.py
