-i https://pypi.org/simple
adblockparser==0.7
beautifulsoup4==4.11.2
cherrypy==18.8.0
cherrypy-cors==1.6
cryptography==44.0.1
dnspython==2.6.1; python_version >= '3.8'
exifread==2.3.2
ipaddr==2.2.0
ipwhois==1.1.0
lxml==5.3.1
mako==1.2.4
netaddr==0.8.0
networkx==2.6.3
openpyxl==3.1.1
phonenumbers==8.13.6
psycopg2==2.9.3
publicsuffixlist==0.9.3
pygexf==0.2.2
pyopenssl==21.0.0
pypdf2==2.10.6
pysocks==1.7.1
python-docx==0.8.11
python-pptx==0.6.21
python-whois==0.7.3
pyyaml==6.0.0
requests==2.32.2
secure==1.0.1
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
