{{- if .Values.webui.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "spiderfoot.fullname" . }}-webui
  labels:
    {{- include "spiderfoot.labels" . | nindent 4 }}
    app.kubernetes.io/component: webui
spec:
  type: {{ .Values.webui.service.type }}
  ports:
    - port: {{ .Values.webui.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "spiderfoot.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: webui
{{- end }}
---
{{- if .Values.api.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "spiderfoot.fullname" . }}-api
  labels:
    {{- include "spiderfoot.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "spiderfoot.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
{{- end }}
