<%include file="HEADER.tmpl"/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <h4><i class="glyphicon glyphicon-exclamation-sign"></i> Error</h4>
        <p>${message}</p>
        <hr>
        <p>Please go back and try again. If you're pretty sure this is a bug, please contact the support mailing list at <a href=mailto:support@spiderfoot.net>support@spiderfoot.net</a>.</p>
      </div>
    </div>
  </div>
</div>
<%include file="FOOTER.tmpl"/>
