</div> <!-- End of mainbody container -->
    
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center">
            <%
            messages = [
                "<i class='glyphicon glyphicon-heart'></i>&nbsp;&nbsp;<a target=_new href='https://discord.gg/vyvztrG'>Join the SpiderFoot community Discord!</a>",
                "<i class='glyphicon glyphicon-console'></i>&nbsp;&nbsp;<a target=_new href='https://asciinema.org/~spiderfoot'>Did you know SpiderFoot also has a CLI? Check out our asciinema tutorials on how to use it.</a>",
                "<i class='glyphicon glyphicon-film'></i>&nbsp;&nbsp;<a target=_new href='https://www.youtube.com/channel/UCujtHhVLNeiJA_3F-lghD-w'>Check out our YouTube channel to see SpiderFoot in action.</a>"
            ]

            import random
            message = messages[random.randint(0, len(messages)-1)]
            %>
            <span>${message}</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
